body { 
	background-color: white; 
	color: black;
}
div.mainbody { 
	width:90%; 
	background-color: white; 
	color: black; 
	/*border: thin solid black; */
	text-align: center; 
	padding: 2em; 
	margin: 5px; 
}

div#students {
	text-align: left;
}

div#latexcontent {
	background-color: #eeeeee;
	color: black;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: thin solid black;
}

div#content {
	/*border: 1px solid black */
	min-width: 400px;
	padding: 0px;
	margin: 0px;
	text-align: center;

}

div#navbar {
	width = 100%;
	padding: 10px;
	text-align: center;
	background-color: #333399;
}

#navbar a{
	font-weight: bold;
	font-size: large;
	text-decoration: none;
	color: #bbbbbb;
}

#navbar ul{
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
}

#navbar li{
	display: inline-block;
	margin-right: 2em;
}

div#topbox {
	text-align: left;
	padding: 10px;
}

div.summarybox {
	margin-top: 4em;
	float: left;
	width: 60%;
	text-align: left;
	padding: 10px;
}

div.rightbox {
	float: right;
	margin: right;
}

div.leftbox {
	float: left;
	margin: left;
}

#stablecoin_table table {
	border-collapse: collapse;
}

#stablecoin_table tr td th {
	border: 1px solid black;
}

img#rightpic {
	float: right;
	margin-right: 5px;
	padding: 5px;
	/*border: 1px solid #88e;*/
}

div#leftbox {
	float: left;
	width: 45%;
	margin: 10px;
	height: 7em;
	clear: both;
}

div#rightbox {
	width: 45%;
	float: left;
	margin: 10px;
	height: 7em;
	clear: right;
}

div#footer {
	clear: both;
	width: 100%;
	padding: 20px;
	text-align: center;
}

div.sec { 
	border: 1px solid #44a; 
	padding: 1em;
	text-align: left;
}

a { 
	text-decoration: none 
}

span.researchtopic {
	font-weight: bold;
	margin-bottom: 10px;
}

a:hover {
	text-decoration: underline 
}


