<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>
			{{ page.title }}
		</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png">
	</head>
	<body>
		<div id="content">
			{% include navigation.html %}
			<div id="topbox">
				<div class="summarybox">
				{{ content }}
				</div>
				<div class="rightbox">
					<img id="landingpic" src='assets/images/{{ page.image }}' alt={{ page.imagealt }} title={{ page.imagetitle }} height='{{ page.imageheight }}' width='{{ page.imagewidth }}' />
				</div>
			</div>
			{% include footer.html %}	
		</div>
	</body>
</html>
